//
// body
//

// colors
$primary-color: #23212a;
$secondary-color: #524f5f;
$alt-text-color: #b7b7b7;
$alt-text-color-2: #98979c;

$gray-bg: #f7f7f7;
$gray-bg-alt: #e0dfe2;

$dark-bg: #23212a;
$dark-bg-alt: #373442;

// font
$default-font-family: 'Catamaran';
$default-font-weight: 400;
$default-font-weight-bold: 700;
$default-font-size: 16px;
$default-lead-font-size: 26px;

// icons
$default-font-family-icon: 'icomoon';


// line-height
$default-line-height: 1.35;
$small-line-height: $default-line-height;

// radius
$default-radius: 10px;

// box shadow
$default-box-shadow: 0px 30px 45px 5px #ebeef7;
$hover-box-shadow: 0px 30px 45px 5px #d3d6de;

// margin/padding
$clear-padding: 0;
$clear-margin: 0;
$default-padding: 0 0 20px;
$default-margin: 0 0 20px;
$default-margin-bottom: 20px;

//
// heading
//
$heading-color: $primary-color;
$heading-weight: 700 !default;
$heading-line-height: 1.125;
$heading-margin: 0 0 20px !default;

// h1
$heading-1-size: 32px !default;
$heading-1-weight: $heading-weight;
$heading-1-margin: $heading-margin;
$heading-1-color: $heading-color;
$heading-1-line-height: $heading-line-height;

// h2
$heading-2-size: 26px !default;
$heading-2-weight: $heading-weight;
$heading-2-margin: $heading-margin;
$heading-2-color: $heading-color;
$heading-2-line-height: $heading-line-height;

// h3
$heading-3-size: 24px !default;
$heading-3-weight: $heading-weight;
$heading-3-margin: $heading-margin;
$heading-3-color: $heading-color;
$heading-3-line-height: $heading-line-height;

// h4
$heading-4-size: 20px !default;
$heading-4-weight: $heading-weight;
$heading-4-margin: $heading-margin;
$heading-4-color: $heading-color;
$heading-4-line-height: $heading-line-height;

// h5
$heading-5-size: 18px !default;
$heading-5-weight: $heading-weight;
$heading-5-margin: $heading-margin;
$heading-5-color: $heading-color;
$heading-5-line-height: $heading-line-height;

// h6
$heading-6-size: 16px !default;
$heading-6-weight: $heading-weight;
$heading-6-margin: $heading-margin;
$heading-6-color: $heading-color;
$heading-6-line-height: $heading-line-height;


//
// MEDIA QUERIES
//
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1440px;
$xxxl-min: 1740px;
