.contact-data {
  &__email {
    display: inline-block;
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 5px;
    @include transition();
    @include hover() {
      color: $alt-text-color;
    }
    @include max-screen($md-max) {
      font-size: 30px;
    }
    @include max-screen($sm-max) {
      font-size: 26px;
    }
    &-label {
      display: block;
      font-size: 18px;
      font-weight: 300;
      color: $alt-text-color;
      margin-bottom: 50px;
      @include max-screen($sm-max) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
  &__address {
    li {
      display: block;
      font-size: 26px;
      font-weight: 300;
      color: $primary-color;
      margin-bottom: 5px;
      @include max-screen($md-max) {
        font-size: 22px;
      }
      @include max-screen($sm-max) {
        font-size: 18px;
      }
    }
  }
}
