.logo {
  display: inline-block;
  line-height: 1;
  font-size: 26px;
  color: $primary-color;
  font-weight: 700;
  a {
    display: inherit;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

.main {
  
}
