.logo {
  display: inline-block;
  line-height: 1;
  font-size: 26px;
  color: $primary-color;
  font-weight: 700;
  a {
    display: inherit;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}
.app {
  @extend .d-flex, .flex-column, .flex-nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
  @extend .d-flex, .flex-row, .flex-nowrap;
  &__inner {
    width: 100%;
  }
}

.section {
  padding: 100px 0;
}
