body {
  background-color: #fff;
  font-family: $default-font-family, sans-serif;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
}

.is-hidden {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
