.links {
  @extend .d-flex, .flex-row, .flex-nowrap, .align-items-center;
  width: 100%;
  background-color: #fff;
  box-shadow: $default-box-shadow;
  border-radius: $default-radius;
  overflow: hidden;
  margin: 70px 0;
  @include max-screen($md-max) {
    flex-flow: column nowrap !important;
    margin-bottom: 0;
  }
  &__item {
    flex: 0 0 33.333%;
    @include max-screen($md-max) {
      flex: 0 0 100%;
      width: 100%;
    }
    &:last-child {
      a {
        border-right: 0;
        @include max-screen($md-max) {
          border-bottom: 0;
        }
      }
    }
    a {
      @extend .d-flex, .flex-column, .flex-nowrap, .align-items-center, .justify-content-center;
      width: 100%;
      padding: 30px;
      position: relative;
      text-decoration: none;
      border-right: 2px solid $gray-bg;
      color: $secondary-color;
      @include transition();
      @include hover() {
        background-color: $gray-bg;
      }
      @include max-screen($md-max) {
        border-right: 0;
        border-bottom: 1px solid $gray-bg;
      }
    }
    &-icon {
      color: inherit;
      font-size: 25px;
      margin-bottom: 15px;
    }
    &-title {
      color: inherit;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      @include max-screen($sm-max) {
        font-size: 18px;
      }
    }
  }
}
