.footer {
  padding: 30px 50px;
  @include max-screen($lg-max) {
    padding: 20px 30px;
  }
  &__inner {
    @extend .d-flex, .flex-row, .flex-nowrap, .justify-content-between, .align-items-center;
    max-width: 1820px;
    margin: auto;
    @include max-screen($lg-max) {
      flex-flow: column nowrap !important;
    }
    .logo,
    .social {
      flex-basis: 20%;
      @include max-screen($lg-max) {
        order: 1;
      }
    }
    .social {
      justify-content: flex-end;
      @include max-screen($lg-max) {
        order: 2;
        padding: 20px 0;
        .social__item {
          &:last-child {
            padding-right: 25px;
          }
        }
      }
    }
  }
  &__copyright {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: $alt-text-color;
    @include max-screen($lg-max) {
      order: 3;
      font-size: 14px;
    }
  }
}
